/*header>h1,section{color:green;}
h1+p{color:red;}

h1:hover,p:hover{color:yellow}*/

/*h1::first-letter{color: :red};*/


p{
        font-family: Myfont;
}

/*@import url*/

/*block div article ..... </  >
inline strong link img ....
display : inline;
border and border-color :ok(kod color) kod rgb and 16(hex)   color.adove.com and color schemes(awwwards com)
margin:
padding:


position:relative --  top right left: -30

position:fixed -- botton right 0 0 .... or left top 0 0


position:absolute   div claas1 div posit abs

z-index:0 and ++ or --; -1



css !  

header aside footer nav article{
background-color: Random:rdn;
}

*{
 margin:0;
 padding:0;
}


<main>

aside :float:left;
widht.. 20%;


article float:left 70%


nav

</main>

footer



<header>
    <h1>
        This is a header
</header>

<aside>
    <h2> </h2>
</aside> 20%

<article>  size 70%
    
<article>

<nav>10%
    
</nav>

<footer>

</footer>>


#font-face{
    font-family: Myfont;
    
}